chromadb==0.6.3
comtypes==1.4.10
docx2pdf==0.1.8
fastapi==0.115.12
fitz==0.0.1.dev2
Flask==3.1.1
matplotlib==3.8.4
numpy==2.2.5
pandas==2.2.3
Pillow==11.2.1
pptxtopdf==0.0.2
psutil==7.0.0
pydantic==2.11.4
python-dotenv==1.1.0
python_docx==1.1.2
python_pptx==1.0.0
Requests==2.32.3
scikit_learn==1.4.2
streamlit==1.43.2
streamlit_extras==0.7.1
streamlit_option_menu==0.4.0
tqdm==4.67.1
uvicorn==0.34.2
